*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
}
.images-grid img:hover{
	background: black;
	opacity: 0.9;
	cursor: pointer;
}
.images-grid img{
	background: black;
	opacity: 0.8;
}
.main-grid-container{
	width: 1349px;
	height: 4100px;
	background:white;
	display: grid;
	grid-template-columns: 1fr 6fr;
}
.leftside-contanier{
	padding-right: 20px;
	padding: 10px;
	width: 300px;
	height: 4300px;
	background: #F44336;
}
.content{
	padding-right: 20px;
	position: fixed;
	width: 300px;
	height: 610px;
/*	background: ;*/
}
.heading1{
	padding-left: 30px;
	padding-top: 105px;
	color: white;
	font-family: poppins;
	padding-bottom: 10px;
}
.heading{
	font-family: poppins;
	padding-left: 30px;
	color: white;
	padding-bottom: 90px;
}

ul{
/*	padding-top: 10px;*/
	width: 100%;
	padding-left: 0;
}
li{
	font-size:18px;
	line-height: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 900;
	cursor: pointer;
	font-family: poppins;
	color: white;
/*	background: red;*/
	list-style: none;
	padding-bottom: 20px;
}
li:hover{
	background: white;
	color: black;
	font-weight: 800;
	
}
.title-heading{
	padding-top:60px;
	padding-left: 60px;
	font-size: 65px;
	font-family: poppins;
}
.title-subheading{
	font-family: poppins;
	font-size: 50px;
	color: #F44336;
	padding-left: 60px;
}
.hr-style{
	background:#F44336;
	width: 60px;
	height: 10px;
	border-radius: 4px;
}
.hr-container{
	padding-top: 30px;
	padding-left: 60px;
}
.images-grid{
	width: 970px;
	height: 983px;
/*	background:pink;*/
/*	padding: 10px;*/
	margin-left: 60px;
	margin-top: 30px;
	display: grid;
	grid-template-areas: 
	'img1 img2'
	'img3 img4'
	'img5 img6'
}
.img1{
	grid-area: img1;
}
.img2{
	grid-area: img2;
}
.img3{
	grid-area: img3;
}
.img4{
	grid-area: img4;
}
.img5{
	grid-area: img5;
}
.img6{
	grid-area: img6;
}
.heading-para{
	font-size: 15px;
	font-weight: 100;
	padding-bottom: 10px;
}
.para{
	margin-top: 30px;
	line-height: 25px;
	padding-left: 60px;
	font-family: poppins;
}
.designer{
	margin-top: 120px;
}
.cards img{
	filter: grayscale(80%);
}
.designers-heading{
	padding-top: 10px;
	padding-left: 60px;
	font-size: 16px;
	font-family: poppins;
	font-weight: 600;
	padding-bottom: 20px;
}
.cards{
	width: 936px;
	height: 390px;
/*	background: pink;*/
	margin-left: 60px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
.card1{
	width: 305px;
	height: 390px;
	background: #EEE;
}
.card2{
	width: 305px;
	height: 390px;
	background: #EEE;
}
.card3{
	width: 305px;
	height: 390px;
	background: #EEE;
}
.content-text{
	font-family: poppins;
	padding-top: 15px;
	padding-left: 15px;
	line-height: 30px;
}
.text{
	font-family: poppins;
	padding-top: 20px;
	padding-left: 15px;
	font-size: 16px;
}
.name{
	color: #AAA;
	font-family: poppins;
	padding-top: 10px;
}
.two-cards{
	width: 940px;
	height: 610px;
/*	background: #DDD;*/
	margin: 20 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.first-card{
	width:460px;
	height: 550px;
	background: #F1F1F1;
}
.first-card p{
	color: #AAA;
	font-size: 12px;
}
.second-card p{
	color: #AAA;
	font-size: 12px;
}
.title-div{
	text-align: center;
	width: 460px;
	height: 100px;
	background: #616161;
}
.title-div2{
	text-align: center;
	width: 460px;
	height: 100px;
	background: #F44336;
}
.second-card{
	width:460px;
	height: 550px;
	background: #F1F1F1;
}
.title-card{
	padding-top: 35px;
	color: white;
	font-family: poppins;
	font-weight: 100;
}

.options{
	text-align: center;
	font-family: poppins;
	border-bottom: 1px solid #DDD;
	width: 460px;
	height: 58px;
	padding-top: 20px;
}
.options-2{
	text-align: center;
	font-family: poppins;
	border-bottom: 1px solid #DDD;
	width: 460px;
	height:120px;
	padding-top: 20px;
	font-size: 30px;
}
.options-2 p{
	font-size: 18px;
	padding-top: 20px;
}
.options-3{
	text-align: center;
	font-family: poppins;
/*	border-bottom: 1px solid #DDD;*/
	width: 460px;
	height: 95px;
	padding-top: 20px;
}
.card-btn{
	width: 107px;
	height: 47px;
	background: white;
	color: black;
}
.card-btn2{
	width: 107px;
	height: 47px;
	background:#F44336;
	color:white;
}
.card-btn2:hover{
	background: #616161;
	cursor: pointer;
	color: white;
}
.card-btn:hover{
	background: #616161;
	cursor: pointer;
	color: white;
}
.contact-part{
	width: 940px;
	height: 335px;
/*	background: #AAA;*/
	margin: 20 auto;
/*	padding-bottom: 93px;*/
}
.contact-part p{
	font-size: 16px;
	font-family: poppins;
}
.label{
	padding-top: 30px;
	padding-bottom: 5px;
	width: 940px;
	font-family: poppins;
}
.ip-field{
	font-size: 20px;
	width: 936px;
	height: 42px;
	border: 1px solid #CCC;
}
.send-btn{
	margin-top: 20px;
/*	padding-top: 20px;*/
	width: 936px;
	height: 42px;
	color: white;
	background:#F44336;
	font-family: poppins;
/*	padding-bottom: 93px;*/
}
.send-btn:hover{
	background: #CCCCCC;
	cursor: pointer;
	color:black;
}
.footer-container{
	margin: 0 auto;
}
.footer{
	margin-top: 133px;
/*	margin-left: 50px;*/
/*	padding-left: 20px;*/
	width: 1049px;
	height: 120px;
	text-align: right;
/*	text-decoration: underline;*/
	background: #F1F1F1;
	font-family: poppins;
}
.footer p{
	padding-top: 50px;
	padding-right: 60px;
}
.footer span{
	text-decoration: underline;
}
.footer span:hover{
	cursor: pointer;
	color: #AAA;
}